
#main
{
    padding-top:50px;
}

.container .credit
{
    margin: 20px 0;
}

.navbar-inverse .brand{
	color: #999;
}

.navbar-inverse .brand:hover{
	color: #999;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}