<section ng-controller="TodoController">
    <h4>{{page.title}}</h4>

    <div class="enterTask">
        <form ng-submit="submitTask()">
          <span>Enter a task:</span>
          <input type="text" ng-model="taskName"/>
          <input class="btn btn-success" type="submit" value="Add"/>
        </form>
    </div>


    <br />
    <br />


     <div>
          <span><a href="#" ng-click='orderById("id")'> Order By</a></span>
    </div>

    <br />

     <div>
	      <table class="table table-striped" ng-show="taskList.length>0">
	        <thead>
	          <tr>
	            <th>ID</th>
	            <th>Task Name</th>
	            <th>Status</th>
	            <th></th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="task in taskList | orderBy:setOrder">
	            <th>{{task.id}}</th>
	            <td><span class="done-{{task.done}}">{{task.name}}</span></td>
	            <td>
	            	<input type="checkbox" ng-model="task.done" ng-click='statusComplete(task)'>
	            	{{task.status}}
	            </td>
	            <td><a href="#" class="btn btn-default deleteBtn" ng-click="removeTask($index)">
	              <span class="glyphicon glyphicon-remove"></span>Delete</a>
	        	</td>
	          </tr>
	        </tbody>
	      </table>
     <div>

     <div ng-if="taskList>0">
      	<span>Number Of Tasks: </span>{{taskList.length}}
     </div>

</section>